<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/themes/default.css' %}">
    <link rel="stylesheet" href="{% static 'css/pattern.css' %}">
    <link rel="website icon" type="png" href="{% static 'img/favicon.png' %}">
    {% block head %}{% endblock %}
</head>
<body class="background" id="body">
{% block body %}{% endblock %}

{{ request.user.id|json_script:"user_id" }}
{% csrf_token %}
<script src="{% static 'js/pattern.js' %}"></script>
{% block js %}{% endblock %}
</body>
</html>