{% extends 'pattern.html' %}
{% load i18n %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'account/css/password_reset_email.css' %}">
{% endblock %}

{% block body %}
<div class="wrapper">
    {% autoescape off %}
    <div>
        <span>Здравствуйте, {{ user.get_username }}</span>
        <span>Вы можете сбросить пароль от своего аккаунта, перейдя по ссылке ниже</span>
    </div>
    <br>
    <br>
    <br>
    {% block reset_link %}
    <a class="second_color text third_text_color_hover" href="{тут protocol }}://{тут domain }}{тутпроцент url 'password_reset_confirm' uidb64=uid token=token %}">Сбросить пароль</a>
    {% endblock %}
    {% endautoescape %}
</div>
{% endblock %}