{% extends 'pattern.html' %}
{% load static %}

{% block title %}Смена пароля{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'account/css/password_change.css' %}">
<link rel="stylesheet" href="{% static 'account/css_adaptation/password_change.css' %}">
{% endblock %}



{% block body %}
<div class="wrapper">
    {% if form.non_field_errors or form.errors %}
        <div class="errors default_shadow_color bold">
            {{ form.non_field_errors }}
            {{ form.old_password.errors }}
            {{ form.new_password1.errors }}
            {{ form.new_password2.errors }}
        </div>
    {% endif %}

    <form class="first_color second_shadow_color" method="post">
        {% csrf_token %}
        <span class="title text bold">Смена пароля</span>
        <div class="inputs">
            {% for f in form %}
                {{ f }}
            {% endfor %}
        </div>
        <button class="second_color text third_text_color_hover">Изменить пароль</button>
    </form>
</div>
{% endblock %}

{% block js %}
<script>keyboard_ignore()</script>
{% endblock %}