{% extends 'pattern.html' %}
{% load static %}

{% block title %}Сброс пароля{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'account/css/password_reset.css' %}">
<link rel="stylesheet" href="{% static 'account/css_adaptation/password_reset.css' %}">
{% endblock %}



{% block body %}
<div class="wrapper">
    {% if form.non_field_errors or form.errors %}
        <div class="errors default_shadow_color bold">
            {{ form.non_field_errors }}
            {{ form.email.errors }}
        </div>
    {% endif %}

    <form class="first_color second_shadow_color" method="post">
        {% csrf_token %}
        <span class="title text bold">Сброс пароля</span>
        <div class="inputs">
            {% for f in form %}
            {{ f }}
            {% endfor %}
        </div>
        <button class="second_color text third_text_color_hover">Отправить письмо</button>
    </form>
</div>
{% endblock %}

{% block js %}
<script>keyboard_ignore()</script>
{% endblock %}