{% extends 'pattern.html' %}
{% load static %}

{% block title %}Инструкция отправлена{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'account/css/password_reset_done.css' %}">
{% endblock %}



{% block body %}
<div class="wrapper">
    <span class="f cpfc_text bold">На ваш E-mail адрес была отправлена инструкция по сбросу пароля.</span>
    <span class="s third_text_color">Если вы не получили электронное письмо, убедитесь, что вы указали верный адрес или проверьте папку "Спам"</span>
</div>
{% endblock %}