{% extends 'main/pattern_for_main_pages.html' %}
{% load static %}

{% block title %}Главная{% endblock %}

{% block head_for_main_page %}
<link rel="stylesheet" href="{% static 'main/css/main.css' %}">
<link rel="stylesheet" href="{% static 'main/css_adaptation/main.css' %}">
{% endblock %}



{% block body_for_main_page %}
<div class="wrapper">
    <div class="about second_color second_shadow_color text">
        <span class="bold third_text_color">О сайте</span>
        <p>
            &emsp;Искать пищевую ценность продуктов, которые вы потребляете. Считать сколько калорий, белков,
            жиров и углеводов вы получили из этой порции, куда-то записывать результат.
            Потом суммировать и сравнивать с нормой, которую вы для себя вы должны рассчитать где-то в Интернете.
            Все это звучит тяжело. Даже если попытаться заставить себя это все делать, вашего терпения хватит
            не на долго. Этот сайт способен облегчить эту задачу в несколько раз.
        </p>
    </div>
    <div class="left first_color second_shadow_color text">
        <span class="bold cpfc_text">Рецепты</span>
        <p id="recipes">
            &emsp;На странице рецептов вы увидите последние добавленные рецепты, а также можете найти любой рецепт по душе
            в каталоге, в котором есть уже recipes_count рецептов. Их можно искать как по названию, если хотите приготовить
            что-то конкретное, так и по продуктам, которые входят в рецепт, если уже определились с ингредиентами и ищете,
            что приготовить.
        </p>
    </div>
    <div class="right first_color second_shadow_color text">
        <span class="bold cpfc_text">Таблица продуктов</span>
        <p id="products">
            &emsp;На странице продуктов вы можете найти любой интересующий вас продукт и узнать его пищевую ценность. На данный
            момент таблица содержит products_count продуктов. Чтобы найти нужный продукт, воспользуйтесь поисковой строкой.
        </p>
    </div>
    <div class="left first_color second_shadow_color text">
        <span class="bold cpfc_text">Калькулятор калорий</span>
        <p>
            &emsp;Благодаря калькулятору нормы нутриентов вы можете узнать сколько белков, жиров и углеводов вам нужно
            получать ежедневно. Калькулятор учитывает не только ваши данные по типу роста и веса, но и ежедневную активность
            и цель изменения веса.
        </p>
    </div>
    <div class="right first_color second_shadow_color text">
        <span class="bold cpfc_text">Ваша статистика</span>
        <p>
            &emsp;В профиле вы можете увидеть вашу статистику. Предполагается, что в течение дня вы добавляете в расчет продукты
            и блюда, а далее сайт высчитывает вашу статику исходя из нормы нутриентов, которую вы рассчитали ранее. В
            профиле вы можете удалить конкретные продукты и рецепты из списка, а также полностью очистить список - это удобно,
            когда вы начинаете новый день. Нажав на знаки вопроса у столбцов диаграммы, вы можете увидеть более подробную
            информацию о вашей статистике. Также в профиле вы можете сменить пароль или привязать свой телеграм.
        </p>
    </div>
    <div class="left first_color second_shadow_color text">
        <span class="bold cpfc_text">Телеграм бот</span>
        <p>
            &emsp;Привязав телеграм, вы можете получить доступ к своей статистике и списку добавленных продуктов через чат-бота.
        </p>
    </div>
    <div></div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'main/js/main.js' %}"></script>
{% endblock %}