@media (max-width: 930px) {
    .wrapper {
        & form {
            width: 60%;
        }
    }
}

@media (max-width: 650px) {
    .wrapper {
        & form {
            width: 70%;
            height: 33%;
        }
    }
}

@media (max-width: 520px) {
    .wrapper {
        & form {
            width: 80%;
            .title {
                font-size: 3.3vh;
            }
            .inputs {
                & input {
                    font-size: 2.1vh;
                }
            }
            & button {
                font-size: 2.5vh;
            }
        }
    }
}