.wrapper {
    width: 100vw;
    height: 100vh;
    padding: 5%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    .f {
        margin-bottom: 3%;
        font-size: 4vh;
    }
}